
body{

  background-image: url('photoBurger2.jpg');
  background-size: cover;
  display: flex;
/*  justify-content: center;*/
  align-items: flex-end;
  height: 100vh;
/*  height: 100vh;
  width: 100vw;*/


}

h1{

  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 80px;
  border: 1px solid black;
  color: #011847
}
.photo{

}
